/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

/* Styles for the navigation bar */
#apply-nav {
    background-color: #f6f6f8;
    color: #62a1d7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 10px 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: 125px; /* Adjust the size as needed */
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    padding: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #62a1d7;
    padding: 10px;
}

/* Main content styling */
#apply-main {
    padding-top: 150px; /* Offset for the fixed navigation */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px; /* Space for footer */
}

.apply-section, .logo-section, .contact-section {
    width: 90%;
    max-width: 500px;
    margin-bottom: 30px;
}

/* Form styling */
#apply-form {
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#apply-form label {
    display: block;
    color: #333;
    margin-top: 15px;
}

#apply-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
}

.apply-button {
    width: 100%;
    padding: 15px;
    background-color: #62a1d7;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
}

.apply-button:hover {
    background-color: #5091b3;
}

/* Logo section styling */
.large-logo {
    width: 100%; /* Adjust to fit the section width */
    display: block;
    margin: 0 auto;
}

/* Contact section styling */
.contact-info {
    padding: 20px;
    background: #f6f6f8; /* Match the navbar background */
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-info h3 {
    margin-bottom: 10px;
}

.contact-info p {
    margin-bottom: 10px;
}

/* Footer styling */
#apply-footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    width: 100%;
}

@media (max-width: 768px) {
    /* Adjustments for tablet and mobile go here */
}

@media (max-width: 480px) {
    /* Adjustments specifically for mobile go here */
    .nav-links, .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        padding: 15px 0; /* Stack the links with spacing */
    }

    .nav-links a {
        padding: 15px 0;
    }

    #apply-main {
        padding-top: 225px; /* Increase padding-top due to the stacked nav */
    }

    /* Further style adjustments for the form and other sections can be added as needed */
}
