/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
}

nav {
    background-color: #f6f6f8;
    color: #62a1d7;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 125px;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    color: #62a1d7;
    text-decoration: none;
}

.hero {
    background-image: url('images/tetonbanner.jpg');
    background-size: cover;
    background-position: center;
    color: #62a1d7;
    text-align: center;
    padding: 100px 20px;
    padding-right: 40%;
    font-size: 25pt;
    margin-top: 100px;
    height: 150px;
    background-blend-mode: lighten;
}

@media (max-width: 768px) {
    .hero {
        padding: 50px 10px;
        padding-right: 10px;
        height: auto;
        font-size: 20pt;
    }
}

@media (max-width: 480px) {
    .hero {
        font-size: 16pt;
        padding: 70px 10px;
        box-sizing: border-box;
    }
    .nav-container {
        justify-content: space-between; /* Adjust for mobile screens */
        padding: 0 10px; /* Add padding to prevent content from touching the edges */
    }
    nav {
        /* ... existing styles ... */
        padding: 0; /* Remove padding that could cause issues */
        flex-direction: column; /* Stack items if needed */
    }
    .nav-links {
        width: 100%;
        padding: 0;
        margin-top: 10px; /* Space out nav from the logo */
        display: flex;
        justify-content: space-around; /* Evenly space navigation links */
        list-style-type: none; /* Remove bullet points from list items */
    }

    .nav-links li {
        /* ... existing styles ... */
        display: flex; /* Ensure list items are flex items */
        justify-content: center; /* Center links within the list items */
    }

    .nav-apply {
        width: 100%; /* Full width to prevent overlap */
        order: 3; /* Ensure the button is below the nav links */
    }
    
}

section {
    padding: 40px 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #f7f7f7;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: #f7f7f7;
}

.feature {
    width: 20%;
    text-align: center;
}

.feature img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
}

.feature h3 {
    margin-top: 0;
}

section {
    padding: 40px 20px;
    text-align: center;
}

#about {
    max-width: 35%;
    margin: 0 auto; /* Centers the section horizontally */
    text-align: center; /* Ensures the text within the section is centered */
}
#careers{
    max-width: 50%;
    margin: 0 auto;
    text-align: left;

}
#pos_title{
    text-align: center;
    font-size: 30pt ;
}
/* Add this new CSS for the Apply button */
.apply-button {
    background-color: #62a1d7;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.apply-button:hover {
    background-color: #5091b3;
}

.nav-apply {
    margin-left: auto;
    padding-right: 20px;
}

.apply-section {
    text-align: center;
    padding: 20px;
}



/* Base styles - styles.css */

/* Existing styles here... */

/* Responsive styles */
@media (max-width: 768px) {
    .nav-container, .features {
        flex-direction: column;
    }

    .feature {
        width: 100%;
        margin-top: 20px;
    }

    .nav-links li {
        margin-top: 10px;
        margin-left: 0;
    }


    .logo {
        width: 75px;
    }

    section, #about, #careers {
        max-width: 100%;
        padding: 20px;
    }

    nav {
        height: auto;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    .nav-apply {
        padding-right: 0;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {

    .nav-links {
        text-align: center;
    }
}